body {
background-image:url(../img/bg26.jpg)	;
background-color:white;
margin:0;	
padding:0;	
}
#logo {
	position:absolute;
	top:-20px;
	left:-20px;
	height:200px;
	
	
}
#header {
	height:200px;
	overflow:hidden;
	background-image:url(../img/bg.jpg)	;
}
#logotxt {
position:absolute;
	color:white;
	text-shadow:1px 1px 1px black;
left:100px;
top:70px;
		
}

.topmenu	a:link {text-decoration: none; } 
.topmenu   a:visited { text-decoration: none; } 
.topmenu   a:active { text-decoration: none; }
.topmenu   a:hover {text-decoration: underline; color: red; }	
.topmenu {	
display:flex;
width:100%;
margin:0 auto;
}
.topmenu a{
	flex:1;
	border-right:solid 1px Azure;
	background:LightSkyBlue;
	text-align:center;
	padding: 20 0;
	color:Azure;

}
.moy {
	margin-top:20px;
	margin-bottom:150px;
}
.moy1 {
	margin-top:20px;
}
.footer {
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	background:SteelBlue;
	color:AliceBlue;
	margin-top:20px;
	position:fixed;
	bottom:0;
	width:100%;
}
.moy2 {
	text-align:right;
	padding:5px;
	margin-right:10px;
	color:white;
}

.moy2  a{
	color:white;
}

.feed {
	padding:20px;
	margin-top:30px;
	
}
.product {
	float:left;
	margin-right:10px;
	
}
.showhide {
	display:none;
	
}
.link {
	background:grey;
	color:gold;
	margin-top:10px;
	cursor:pointer;
}

.N_img {
	
	
}

* {box-sizing: border-box;}
.caption-shadow {
  width: 400px;
  margin: 50px auto 0;
  position: relative;
  border: 5px solid #FAAB1B;
}
.caption-shadow img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-shadow figcaption {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #FAAB1B;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -10px 20px -5px hsla(0, 0%, 0%, .4);
}





@media screen and (max-width: 600px) {
	#header {
		height:100px;
		
	}
	#logo {
		height:50px;
		
	}
	
	.moy {
	margin-top:10px;	
	margin-bottom:120px;	
	}
	.topmenu {
		
		flex-direction:colum;
	}
}